
.item-img {
    width: 300px;
    height: 350px;
    
  }

  .item {
    margin: 6px;
    color:rgb(110, 71, 33) ;
    font-size: 20px;
    width: fit-content;
    border: 2px solid darkgray;
    border-radius: 6px;
    padding: 8px;
    justify-content: center;
  }
   
  .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#fffaf1;
  }

 

 .addtocart {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  background:#D9CDC3;
  display: table-cell;
  width: 55%;
  letter-spacing: 1px;
  padding: 12px 0;
  position:relative;
  top: -20px;
}

.checkout{
  text-align: center;
  color: rgb(90, 65, 65);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  background:#D9CDC3;
  display: table-cell;
  width: 30%;
  letter-spacing: 1px;
  padding: 12px 0;
  float: left;


}


.displayresult{

  color: black;
}